button:focus,
a:focus {
  outline: none;
}

input:focus,
select:focus,
button:focus-visible,
a:focus-visible {
  outline: 2px dashed #333;
  outline-offset: 0.25rem;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fade-in 500ms ease-in-out forwards;
}

@media screen and (prefers-reduced-motion: reduce) {
  .fade-in {
    animation-duration: 0s;
  }
}
